* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #01f9ff;
  color: #070607;
}

header {
  background-color: #0e18be;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.container h1 {
  font-size: 3rem;
}

.container p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.intro, .info, .bmi-calculator {
  padding: 40px 20px;
  text-align: center;
}

.intro h2, .info h2, .bmi-calculator h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.intro p, .info p, .bmi-calculator p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 20px;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: #f4f4f4;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

form {
  margin-top: 20px;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input {
  padding: 10px;
  width: calc(100% - 24px);
  margin-bottom: 20px;
}

form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background-color: #45a049;
}

#bmiResult {
  margin-top: 20px;
  font-size: 1.2rem;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #4CAF50;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Container to center the image */
.image-container {
  display: flex; /* Enable flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: auto; /* Adjust height based on content */
}

/* Image styles */
.center-image {
  width: 50%; /* Image takes up 50% of the container width (adjustable) */
  height: auto; /* Maintain the aspect ratio */
  max-width: 450px; /* Set a maximum width so the image doesn’t grow too large */
  min-width: 150px; /* Set a minimum width */
  display: block;
}

/* Arrow Styling */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff; /* Arrow color */
  margin: 0 auto; /* Center horizontally */
  margin-top: 20px;
}

/* Animation for Arrow */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Apply animation to the arrow */
.arrow-down {
  animation: bounce 2s infinite;
}




